{% extends 'base.html.twig' %}
{% block title %}Biens{% endblock %}

{% block body %}
    <div class ="text-danger">
<center>
    <h1> Choix des types de biens </h1>
    <a> Type de biens : {{ form(form) }} </a>
</center>
    </div>
{% endblock %}


