{% extends 'base.html.twig' %}

{% block title %}Ajout de bien{% endblock %}

{% block body %}
    
    <center>
        <div class='row'>
            <div class="col-xs-4">
       
    {{ form(form) }}
    </div>
        </div>
    </div>
</center>
    
    <style>
    body{
        margin-left: 30px;
    }
</style>

{% endblock %}
